<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Animal</title>
</head>
<body>

    <div class="container">
    
        <h1>Animal - Cadastro </h1>

        <form method="POST" action="/adicionar">
            <div>
                <label for="nome"> Nome: </label> 
                <input type="text" class="form-control" name="nome" id="nome" th:value="${animal.nome}" />
            </div>
            <div>
                <label for="genero"> Genero: </label>
                <select class="form-control" name="genero" id="genero" th:value="${animal.genero}">
                    <option value="Masculino">Masculino</option>
                    <option value="Feminino">Feminino</option>
                </select>
            </div>
            <div>
                <label for="tipo"> Tipo: </label>
                <input type="text" class="form-control" name="tipo" id="tipo" th:value="${animal.tipo}"/>       
            </div>
            <div>
                <input type="hidden" name="id" id="id" th:value="${animal.id}"/>       
            </div>
            <div>
                <input type="submit" />        
            </div>
        </form>

        <a href="/indexAnimal"> Voltar</a>

    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>